<div class="content-body">
  <div class="container-fluid">
    <div class="card col rounded p-3 mt-3 shadow-sm border-0">
      <div class="card-body d-flex align-items-center justify-content-between">
        <h4 class="card-title mb-0 text-primary">Détails Reservation</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-4">
        <div class="card shadow-sm border-0">
          <div class="card-body text-center">
            <img
              class="rounded-circle mb-3"
              src="assets/admin/images/avatar/11.png"
              width="80"
              height="80"
              alt="Avatar"
            />
            <h3 class="mb-1">
              <span>
                {{ infoReservation.nom }} {{ infoReservation.prenom }}</span
              >
            </h3>
            <p class="text-muted">{{ infoReservation.propriete?.adresse }}</p>

            <div class="d-flex justify-content-between my-4">
              <div class="text-center">
                <a
                  href="tel:{{ infoReservation.telephone }}"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-success"
                  >Appelez</a
                >
              </div>
              <div class="text-center">
                <a
                  href="mailto:{{ infoReservation.email }}"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-outline-primary ms-1"
                  >Message</a
                >
              </div>
            </div>
          </div>
          <ul class="list-unstyled mt-1 custom-list mb-2">
            <li>
              <strong
                >Nom : <span>{{ infoReservation.nom }}</span></strong
              >
            </li>
            <li>
              <strong
                >Prénom : <span>{{ infoReservation.prenom }}</span></strong
              >
            </li>
            <li>
              <strong
                >Prix Journalier :
                <span>{{ infoReservation.propriete?.prix_journalier }}</span></strong
              >
            </li>
            <li>
              <strong
                >Propriete Reserver :
                <span>{{ infoReservation.propriete?.reference }}</span></strong
              >
            </li>

          </ul>
        </div>


      </div>
      <div class="col-lg-6 col-xl-8">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <!-- Ajouter des contenus si nécessaire -->
          </div>
          <div class="card-footer bg-light d-flex justify-content-between">
            <button type="submit" class="btn btn-danger btn-lg btn-rounded">
              annuler
            </button>
            <button type="submit" class="btn btn-primary btn-lg btn-rounded" (click)="creerContrat()">
              Confirmer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
