<!-- Sidebar start -->
<div class="nk-sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-button" (click)="toggleSidebar()">
    <i class="icon-menu"></i>
  </button>
  <div class="nk-nav-scroll">
    <ul class="metismenu" id="menu">
      <li *ngFor="let item of menuItems" [class.active]="activeRoute === item.link">
        <a [routerLink]="item.link" (click)="setActive(item.link)">
          <i [class]="item.icon"></i>
          <span class="nav-text">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Sidebar end -->
