/* Augmenter la taille et rendre les textes en gras */
.nk-nav-scroll ul.metismenu li a {
    font-size: 16px;
   // font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: #333; /* Couleur par défaut du texte */
    text-decoration: none; /* Supprimez les soulignements */
}

/* Effet de survol (hover) */
.nk-nav-scroll ul.metismenu li a:hover {
    color: #ffffff; /* Couleur du texte au survol */
    background-color: #007bff; /* Couleur de fond au survol */
    border-radius: 5px; /* Ajoutez un effet arrondi si nécessaire */
}

/* Icônes et espaces ajustés */
.nk-nav-scroll ul.metismenu li a i {
    margin-right: 10px; /* Ajoutez de l'espace entre l'icône et le texte */
    font-size: 18px; /* Ajustez la taille de l'icône */
}

/* Style pour la section "Autres" */
.nk-nav-scroll ul.metismenu li.nav-label {
    font-size: 14px;
    font-weight: bold;
    color: #555; /* Couleur de la catégorie */
    text-transform: uppercase; /* Texte en majuscules */
    margin-top: 20px; /* Ajoutez de l'espace avant cette section */
}
.nk-sidebar {
  width: 250px;
  transition: width 0.3s ease;
  color: #fff;
  position: fixed;
  height: 100vh;

}

// .nk-sidebar.collapsed {
//   width: 60px;
// }


// .nk-nav-scroll ul {
//   padding: 0;
//   list-style: none;
// }

// .nk-sidebar .toggle-button {
//   display: none;
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   background: #333;
//   color: #fff;
//   border: none;
//   padding: 5px 10px;
//   cursor: pointer;
// }

@media screen and (max-width: 768px) {
  .nk-sidebar {
    width: 60px;
  }

  .nk-sidebar .toggle-button {
    display: block;
  }
}
