  <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
          <div class="nk-nav-scroll">
              <ul class="metismenu" id="menu">

                  <li>
                      <a   aria-expanded="false" routerLink="/hoomeAdmin/dashboard">
                          <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                      </a>

                  </li>
                  <li class="mega-menu mega-menu-sm">
                      <a   aria-expanded="false" routerLink="/home/accueil">
                          <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Site Web</span>
                      </a>

                  </li>
                                   <li>
                      <a   aria-expanded="false"routerLink="/reservation/list-reservation">
                          <i class="icon-envelope menu-icon"></i> <span class="nav-text">Reservation</span>
                      </a>

                  </li>
                  <li>
                      <a   aria-expanded="false" routerLink="/propriete/list-propriete">
                          <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Propriétés </span>
                      </a>

                  </li>
                  <li>
                      <a   aria-expanded="false" routerLink="/locataire/list-locataire">
                          <i class="icon-graph menu-icon"></i> <span class="nav-text">Locataire</span>
                      </a>

                  </li>

                  <li>
                      <a   aria-expanded="false"  routerLink="/contrat/list-contrat" >
                          <i class="icon-grid menu-icon"></i><span class="nav-text">Contrats</span>
                      </a>

                  </li>
                  <li>
                      <a  aria-expanded="false" routerLink="/operation/list-operation">
                          <i class="icon-badge menu-icon"></i><span class="nav-text">Operations</span>
                      </a>
                  </li>
                                    <li>
                      <a   aria-expanded="false">
                          <i class="icon-note menu-icon"></i><span class="nav-text">Rapports</span>
                      </a>

                  </li>

                  <li class="nav-label">Autres</li>
                  <li>
                      <a   aria-expanded="false">
                          <i class="icon-notebook menu-icon"></i><span class="nav-text">Parametrage</span>
                      </a>

                  </li>
                  <li>
                    <a   aria-expanded="false" routerLink="/utilisateur/list-utilisateur">
                        <i class="icon-menu menu-icon"></i><span class="nav-text">Utilisateurs</span>
                    </a>

                </li>
              </ul>
          </div>
      </div>
      <!--**********************************
          Sidebar end
      ***********************************-->
