.nk-sidebar {
 
 
  color: #180202; 
  position: fixed;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);

  .nk-nav-scroll {
    padding-top: 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Arial', sans-serif;
          color: #1f0404; 
          text-decoration: none;
          padding: 12px 20px;
          transition: all 0.3s ease-in-out;
          border-radius: 6px;

          i {
            margin-right: 15px;
            font-size: 18px;
            transition: transform 0.3s ease-in-out, color 0.3s;
          }

          &:hover {
            background-color: #007bff;
            color: white;

            i {
              transform: scale(1.1);
              color: #fff;
            }
          }
        }

        &.active {
          background-color: #007bff;
          color: white;
          border-left: 4px solid #fff;
          font-weight: bold;
        }
      }
    }
  }
}


