<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">

                    
                    <a href="index.html">
                        <h1 class="text-white text-uppercase mb-3">Express Immo </h1>
                    </a>
                    
                    <p class="text-white mb-0">
                        ExpressImmo est votre allié dans la réalisation de vos projets immobiliers. Explorez nos
                        maisons en location et bénéficiez de notre savoir-faire pour un achat en toute sérénité. De
                        la construction à la gestion, en incluant la vente de matériaux de construction.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                <p class="mb-2"><i class="bi bi-shop-window me-3"></i>Conakry, Gbessia, Behanzin</p>
                <p class="mb-2"><i class="bi bi-telephone-fill me-3"></i>+224 621-94-13-93</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>expressimmo224&#64;gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social"><i class="fab fa-twitter text-primary"></i></a>
                    <a class="btn btn-outline-light btn-social"><i class="fab fa-whatsapp text-green"></i></a>
                    <a href="https://www.facebook.com/share/158Koy6AGT/" class="btn btn-outline-light btn-social"><i class="fab fa-facebook-f text-primary"></i></a>
                    <a class="btn btn-outline-light btn-social"><i class="fab fa-youtube text-danger"></i></a>
                    <a class="btn btn-outline-light btn-social"><i class="fab fa-linkedin-in text-primary"></i></a>
                    <a class="btn btn-outline-light btn-social"><i class="fab fa-tiktok text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                        <a class="btn btn-link">About Us</a>
                        <a class="btn btn-link">Contact Us</a>
                        <a class="btn btn-link">Privacy Policy</a>
                        <a class="btn btn-link">Terms & Condition</a>
                        <a class="btn btn-link">Support</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                        <a class="btn btn-link">Food & Restaurant</a>
                        <a class="btn btn-link">Spa & Fitness</a>
                        <a class="btn btn-link">Sports & Gaming</a>
                        <a class="btn btn-link">Event & Party</a>
                        <a class="btn btn-link">GYM & Yoga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row text-dark">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">

                    
                    &copy; <a class="border-bottom text-dark" href="#">ExpressImmo</a>, All Right Reserved.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for yNos support. ***/-->
                    Designed By <a class="border-bottom text-primary" href="https://spa-dev.com/">SPA TECHNOLOGY</a>


                </div>

            </div>
        </div>
    </div>
</div>
<!-- Footer End -->