<!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
      <div class="container-fluid mt-3">
        <!-- Cards with Key Metrics -->
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-1">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Maisons Disponibles</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">{{infoDashBoard?.nombreProprietesDisponibles}}</h2>
                  <p class="text-white mb-0">Mise à jour aujourd'hui</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-home"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-3">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Total De Propriétés</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">{{infoDashBoard?.nombreTotalProprietes}}</h2>
                  <p class="text-white mb-0">Total</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-home"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-2">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Réservations Journaliere</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">{{infoDashBoard?.nombreTotalReservations}}</h2>
                  <p class="text-white mb-0">Aujourd'hui</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-calendar-check-o"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-9">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Solde</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">GNF {{infoDashBoard?.soldeTotalJournalier}}</h2>
                  <p class="text-white mb-0">les operations du jour</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-money"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title small-text ">Encaissement</h3>
                <div class="d-inline-block">
                  <h2 class="small-number">GNF {{infoDashBoard?.total_encaissement}}</h2>
                  <p class=" mb-0">Mise à jour aujourd'hui</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-home"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card ">
              <div class="card-body">
                <h3 class="card-title  small-text">Décaissement</h3>
                <div class="d-inline-block">
                  <h2 class="small-number">GNF {{infoDashBoard?.total_decaissement}}</h2>
                  <p class=" mb-0">Aujourd'hui</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-calendar-check-o"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card ">
              <div class="card-body">
                <h3 class="card-title small-text ">Paiement</h3>
                <div class="d-inline-block">
                  <h2 class="small-number">GNF {{infoDashBoard?.totalpaiement}}</h2>
                  <p class=" mb-0">Aujourd'hui</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-calendar-check-o"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-9">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Solde</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">GNF {{infoDashBoard?.soldeTotalJournalier}}</h2>
                  <p class="text-white mb-0">les operations du jour</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-money"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Nouvelle carte pour Total de Partenaires -->
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-5">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Total de Partenaires</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">{{infoDashBoard?.nombreTotalPartenaires}}</h2>
                  <p class="text-white mb-0">partenaire</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-users"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Carte des demandes en cours -->
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-6">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Contrats en Cours</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">{{infoDashBoard?.nombreContrats_actifs}}</h2>
                  <p class="text-white mb-0">Actuellement en cours</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-comment-dots"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Carte des propriétés sous gestion -->
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-7">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Reservation en Attente</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">{{infoDashBoard?.nombre_reservation_en_entente}}</h2>
                  <p class="text-white mb-0">Actuellement sous gestion</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-building"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Carte des locations à venir -->
          <div class="col-lg-3 col-sm-6">
            <div class="card gradient-8">
              <div class="card-body">
                <h3 class="card-title text-white small-text">Locations à Venir</h3>
                <div class="d-inline-block">
                  <h2 class="text-white small-number">{{infoDashBoard?.locationsAVenir}}</h2>
                  <p class="text-white mb-0">Prochaines réservations</p>
                </div>
                <span class="float-right display-5 opacity-5">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Graphique pour les revenus -->
        <!-- <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body pb-0 d-flex justify-content-between">
                <div>
                  <h4 class="mb-1">Revenus Mensuels</h4>
                  <p>Analyse des revenus locatifs</p>
                </div>
                <div>
                  <ul>
                    <li class="d-inline-block mr-3">
                      <a class="text-dark" href="#">Jour</a>
                    </li>
                    <li class="d-inline-block mr-3">
                      <a class="text-dark" href="#">Semaine</a>
                    </li>
                    <li class="d-inline-block">
                      <a class="text-dark" href="#">Mois</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="chart-wrapper">
                <canvas id="chart_widget_2"></canvas>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Active Reservations Table -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">Liste Des Trois Derniers Contrats</div>
              <div class="card-body">
                <div class="active-member">
                  <div class="table-responsive">
                    <table class="table table-xs mb-0">
                      <thead class="bg-info">
                        <tr>
                          <th>Locataires</th>
                          <th>Propriété</th>
                          <th>Adresse</th>
                          <th>Statut</th>
                          <th>Durée</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of infoContratDashBoard">
                          <td>{{ item.reservation_nom }}</td>
                          <td>{{ item.propriete_reference }}</td>
                          <td>{{ item.propriete_adresse }}</td>
                          <td>
                            <span class="badge badge-warning">{{ item.statut }}</span>
                          </td>
                          <td>{{ item.duree_contrat }} jours</td>
                        </tr>
                      </tbody>
                    </table>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--**********************************
            Content body end
        ***********************************-->
