<div class="login-container">
  <div class="col-left">
      <div class="overlay">
          <h2>Bienvenue Chez Expresse IMMO</h2>
          <p>Connectez-vous pour commencer.</p>
      </div>
  </div>
  <div class="col-right">
      <div class="form-container">
          <h2>Connexion</h2>
          <img src="https://static.vecteezy.com/ti/vecteur-libre/p1/2789298-immobilier-entreprise-illustration-concept-gratuit-vectoriel.jpg" class="img-responsive w-100" alt="">
          <div class="form">
              <form [formGroup]="loginForm">
                <div class="col-form mb-3">
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Nom d'utilisateur</mat-label>
                      <input matInput type="email" placeholder="email..." formControlName="email" />
                  </mat-form-field>
                  <div class="col-form mb-2">
                      <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Mot de passe</mat-label>
                          <input matInput type="password" placeholder="Mot de passe..." formControlName="mot_de_passe"  />
                      </mat-form-field>
                  </div>
              </div>
              </form>
              <button mat-flat-button color="primary" (click)="onSubmit()">Se connecter</button>
          </div>
      </div>
  </div>
