/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Background en plein écran */
.login-container {
  width: 100%;
  height: 100vh;
  background: url('https://static.vecteezy.com/ti/vecteur-libre/p1/2789298-immobilier-entreprise-illustration-concept-gratuit-vectoriel.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formulaire centré */
.form-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Titre */
.form-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #632121;
  font-weight: 700;
}

/* Image du logo */
.form-container img {
  width: 100px;
  margin-bottom: 20px;
}

/* Bouton */
.btn-connect {
  width: 100%;
  padding: 12px;
  background-color: #632121;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-connect:hover {
  background-color: #804545;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .form-container {
    max-width: 90%;
    padding: 30px;
  }
}
