<div class="login-container">
    <div class="form-container">
      <h2>Connexion</h2>
      <img src="https://th.bing.com/th/id/OIP.GyeQsxHjy_zQiRUOnFjj0QAAAA?rs=1&pid=ImgDetMain" class="img-responsive" alt="Logo">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput type="email" placeholder="email..." formControlName="email" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="Mot de passe..." formControlName="mot_de_passe" />
        </mat-form-field>
        
        <button mat-flat-button color="primary" class="btn-connect">Se connecter</button>
      </form>
    </div>
  </div>
  