<div class="content-body">
  <div class="container-fluid">
    <div class="card col rounded p-3 mt-3">
      <div class="card-body d-flex align-items-center justify-content-between">
        <h4 class="card-title mb-0">Détails D'un Partenaire</h4>
      </div>
    </div>
   <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label> Details Partenaire</ng-template>
      <div class="row">
        <div class="col-lg-4 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="media align-items-center mb-4">
                <img class="mr-3" src="assets/admin/images/avatar/11.png" width="80" height="80" alt="Propriétaire">
                <div class="media-body">
                  <h4 class="mb-0"> {{infoPartenaire.libelle}} <br>
                    </h4>

                </div>
              </div>
              <ul class=" list-unstyled custom-list">
                <li ><strong > <i class="fa fa-phone"></i> <span>{{infoPartenaire.telephone}}</span></strong></li>
                <li><strong ><i class="fa fa-envelope"> </i> <span>{{infoPartenaire.email}}</span> </strong> </li>
                <li ><strong > <i class="fa fa-map-marker"></i>  <span>{{infoPartenaire.adresse}}</span></strong></li>


              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-xl-9">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="Partenaire">
               <div class="row">
                <div class=" mb-3">
                  <label for="libelle">Libelle</label>
                  <input type="text" class="form-control form-control-lg" [value]="infoPartenaire.libelle" formControlName="libelle"  />
                </div>

               </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="adresse">Adresse</label>
                  <input type="text" class="form-control form-control-lg" [value]="infoPartenaire.adresse" formControlName="adresse" />
                </div>
                  <div class="col-md-6 mb-3">
                    <label for="email">email</label>
                    <input type="email" class="form-control form-control-lg" [value]="infoPartenaire.email" formControlName="email"  />
                  </div>
              </div>
                <div class=" mb-3">
                  <label for="adresse">telephone</label>
                  <input type="text" class="form-control form-control-lg" [value]="infoPartenaire.telephone" formControlName="telephone"   />
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-rounded btn-primary btn-lg mt-3"(click)="confirmEditing(Partenaire)" >Modifier</button>

                </div>
              </form>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4>Détails Complémentaires</h4>
              <div class="row mt-3">
                <div class="col-md-3">
                  <img src="assets/sites/img/room-1.jpg" class="img-fluid rounded" alt="Photo 1">
                </div>
                <div class="col-md-3">
                  <img src="assets/sites/img/room-2.jpg" class="img-fluid rounded" alt="Photo 2">
                </div>
                <div class="col-md-3">
                  <img src="assets/sites/img/room-3.jpg" class="img-fluid rounded" alt="Photo 3">
                </div>
                <div class="col-md-3">
                  <img src="assets/sites/img/room-1.jpg" class="img-fluid rounded" alt="Photo 4">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-3">
                  <img src="assets/sites/img/room-1.jpg" class="img-fluid rounded" alt="Photo 1">
                </div>
                <div class="col-md-3">
                  <img src="assets/sites/img/room-2.jpg" class="img-fluid rounded" alt="Photo 2">
                </div>
                <div class="col-md-3">
                  <img src="assets/sites/img/room-3.jpg" class="img-fluid rounded" alt="Photo 3">
                </div>
                <div class="col-md-3">
                  <img src="assets/sites/img/room-1.jpg" class="img-fluid rounded" alt="Photo 4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Stats Partenaire</ng-template>

      <div class="row">
        <div class="col">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Product List</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Rechercher...</mat-label>
                <input matInput (keyup)="applyFilter($event)"
                  placeholder="Rechercher" #input>
              </mat-form-field>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;"id="maTable">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let i=index">{{ i+1}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="reference">
                  <th mat-header-cell *matHeaderCellDef>Propriete</th>
                  <td mat-cell *matCellDef="let element">{{ element.reference }}</td>
                </ng-container>


                <!-- adresse Column -->
                <ng-container matColumnDef="prix_journalier">
                  <th mat-header-cell *matHeaderCellDef>Prix Unitaire</th>
                  <td mat-cell *matCellDef="let element">
                    <span >{{ element.prix_journalier }}</span>
                  </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="prix_mensuel">
                  <th mat-header-cell *matHeaderCellDef>Prix Mensuel </th>
                  <td mat-cell *matCellDef="let element">{{ element.prix_mensuel }}</td>
                </ng-container>

                 <!-- telephone Column -->
                

                <!-- Action Column -->
                <!-- <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <button mat-icon-button color="primary" routerLink="/partenaire/detail-partenaire/{{ element.id }}" >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn"  (click)="deleteFunction(element.id ,'partenaires')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container> -->

                <!-- Header and Row Declarations -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
                <!-- Paginator -->
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
          </mat-card>
        </div>
      </div>



    </mat-tab>
   </mat-tab-group>
  </div>
  <!-- #/ container -->
</div>
