<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a routerLink="/home/accueil"class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">EXPRESS IMMO</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0 text-primary">expressimmo224&#64;gmail.com</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <p class="mb-0 text-primary"><i class="bi bi-telephone-fill"></i> +224 621-94-13-93</p>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <a href="https://www.facebook.com/share/158Koy6AGT/" class="me-3"><i class="fab fa-facebook-f text-primary"></i></a>
                        <a class="me-3"><i class="fab fa-instagram text-danger"></i></a>
                        <a class="me-3"><i class="fab fa-twitter text-primary"></i></a>
                        <a href="https://wa.me/message/…" class="me-3"><i class="fab fa-whatsapp text-green"></i></a>
                        <a class="me-3"><i class="fab fa-linkedin-in text-primary"></i></a>
                        <a class=""><i class="fab fa-youtube text-danger"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a routerLink="/home/accueil" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">EXPRESS IMMO</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a routerLink="/home/accueil" class="nav-item nav-link " routerLinkActive="active-navbar-nav">Acceuil</a>
                        <a routerLink="/home/service" class="nav-item nav-link " routerLinkActive="active-navbar-nav">Nos Services</a>
                        <a routerLink="/home/propriete" class="nav-item nav-link " routerLinkActive="active-navbar-nav">Propriétés</a>
                        <a routerLink="/home/contact" class="nav-item nav-link " routerLinkActive="active-navbar-nav">Contact</a>
                    </div>
                    <a href="tel:+224623115887"  class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block" >Appeler<i class="fa fa-phone ms-3"></i></a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->