<div class="container-xxl p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
        <a routerLink="/home/accueil" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-primary text-uppercase">EXPRESS IMMO</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a routerLink="/home/accueil" class="nav-item nav-link">Home</a>
                <a routerLink="/home/service" class="nav-item nav-link">Services</a>
                <a routerLink="/home/propriete" class="nav-item nav-link active">Propriétés</a>
                <a routerLink="/home/contact" class="nav-item nav-link">Contact</a>
            </div>
            <a class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block" routerLink="/homeAdmin/login">
                Se Connecter <i class="fa fa-arrow-right ms-3"></i>
            </a>
        </div>
    </nav>

    <div class="row g-4">
        <!-- INFORMATION EXPRESS IMMO -->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="text-primary">ExpressImmo</h1>
                    <p style="font-size: larger;">
                        ExpressImmo est votre allié dans la réalisation de vos projets immobiliers. Explorez nos
                        maisons en location et bénéficiez de notre savoir-faire pour un achat en toute sérénité. De
                        la construction à la gestion, en incluant la vente de matériaux de construction. ExpressImmo
                        est le partenaire immobilier sur lequel vous pouvez compter.
                    </p>
                    <div>
                        <span class="mb-1 text-primary fs-5"><i class="bi bi-house"></i> : </span><span class="fs-6">
                            Conakry, Gbessia, Behanzin</span>
                    </div>
                    <br>
                    <div>
                        <span class="mb-1 text-primary fs-5"><i class="bi bi-envelope"></i> : </span><span class="fs-6">
                            {{email}}</span>
                    </div>
                    <br>
                    <div>
                        <span class="mb-1 text-primary fs-5"><i class="bi bi-telephone"></i> : </span><span
                            class="fs-6"> +224 626 37 01 38</span>
                    </div>
                    <hr>
                    <div class="fs-4">
                        <ul class="d-flex justify-content-center">
                            <li class="mx-2"><i class="bi bi-facebook"></i></li>
                            <li class="mx-2"><i class="bi bi-twitter"></i></li>
                            <li class="mx-2"><i class="bi bi-linkedin"></i></li>
                            <li class="mx-2"><i class="bi bi-instagram"></i></li>
                            <li class="mx-2"><i class="bi bi-youtube"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- RESERVATION EXPRESS IMMO -->
            <div class="card">
                <div class="card-header bg-primary text-center">
                    <h3 class="text-white">Réserver Maintenant</h3>
                </div>
                <div class="card-body">
                    <div>
                        <label for="date_reservation">Date Reservation</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-check"></i></span>
                            <input type="date" class="form-control" aria-label="date_reservation" id="date_reservation">
                        </div>
                    </div>
                    <div>
                        <span class="mb-1 fs-5">Prix/Jour : </span><span class="fs-5 text-success">100 $</span>
                    </div>
                    <hr>

                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault" checked>
                            <label class="form-check-label" for="flexCheckDefault">
                                WIFI
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Conciergerie
                            </label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                                Blanchisserie
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="flexCheckChecked2">
                            <label class="form-check-label" for="flexCheckChecked2">
                                Restauration
                            </label>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button class="btn btn-danger" (click)="alertWithSuccess()">Réserver</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- IMAGE CAROUSEL -->
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/sites/img/room-1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/sites/img/room-2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/sites/img/room-3.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="card mt-4">
                <div class="card-header fs-3 text-center">Description</div>
                <div class="card-body fs-6">
                    Salon de 32,01 m² - Chambre de 14,8 m² + bain de 6,80 m² Cuisine 7,35 m²
                    <br><br>
                    Nom de la propriété : 67,65 m²
                    <br><br>
                    Prix Journalier : $ 54 120,00 USD
                    <br><br>
                    Frais Dossier : $ 1 000,00 USD
                    <br><br>
                    Acompte : $ 37.884,00 USD , payé de façon échelonnée, sans date limite
                    <br><br>
                    Montant mensuel : $ 16.236,00 USD , représentant le prix total.
                </div>
            </div>
        </div>
    </div>
</div>
