<div class="content-body">
  <div class="container-fluid">
    <!-- Card avec les filtres -->
    <div class="card col rounded p-3 mt-4">
      <div class="card-body">
        <h4 class="card-title mb-3">Rapport des Opérations</h4>

        <div class="d-flex justify-content-between align-items-center gap-3">
          <form [formGroup]="reportForm" class="d-flex w-100">
            <mat-form-field appearance="outline" class="flex-fill">
              <mat-label>Date de début</mat-label>
              <input matInput [matDatepicker]="startPicker" placeholder="Choisir une date" formControlName="date_debut">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-fill">
              <mat-label>Date de fin</mat-label>
              <input matInput [matDatepicker]="endPicker" placeholder="Choisir une date" formControlName="date_fin">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>

            
          </form>

          <button mat-raised-button color="primary" (click)="generateReport()">Rapport</button>
         
          <button
            type="button"
            class="btn btn-danger btn-sm text-white px-4 d-flex align-items-center"
            (click)=" printTable()"
          >
            <mat-icon class="me-2">print</mat-icon> Imprimer
          </button>
         
        </div>
      </div>
    </div>

    <!-- Tableau des opérations -->
   <mat-card>
    <div class="table-responsive mt-4">
      <table class="table table-bordered table-striped" id="maTable">
        <thead class="thead-info">
          <tr>
            <th>#</th>
            <th>Montant</th>
            <th>Description</th>
            <th>Type Opération</th>
            <th>Fait Par</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of dataSource; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ element.montant }}</td>
            <td>{{ element.motif }}</td>
            <td>{{ element.type_transaction }}</td>
            <td>{{ element.created_by }}</td>
          </tr>
        </tbody>
      </table>
    </div>
   </mat-card>

  </div>
</div>
