<div class="card">
  <div class="card-body">
    <div class="card-title text-center">
      <h4>Ajouter un Type de Propriete</h4>
    </div>
    <form [formGroup]="typePropriete">
      <div class="row">
        <div class=" mb-3">
          <label for="libelle">Libelle</label>
          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="libelle"
            id="libelle"
            placeholder="Enter le libelle"
          />
        </div>
        </div>


    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <button
        type="submit"
        class="btn btn-rounded btn-primary btn-lg mt-3"
        (click)="saveDatatypePropriete()"
      >
        Ajouter
      </button>
      <button
        type="reset"
        class="btn btn-rounded btn-outline-secondary btn-lg mt-3"
      >
        Annuler
      </button>
    </div>
  </div>
</div>
