<div class="content-body">
  <div class="container-fluid">
    <div class="card col rounded p-3 mt-3 shadow-sm border-0">
      <div class="card-body d-flex align-items-center justify-content-between">
        <h4 class="card-title mb-0 text-primary fw-bold">Détails Contrats</h4>
        <div class="d-flex gap-3">
          <button type="button" class="btn btn-danger btn-sm text-white px-4 d-flex align-items-center"
            (click)=" printContract()">
            <mat-icon class="me-2">print</mat-icon> Imprimer
          </button>

          <button type="button" class="btn btn-dark btn-sm text-white px-4 d-flex align-items-center"
            (click)="openDialog()">
            <mat-icon class="me-2">add</mat-icon> Effectuer un paiement
          </button>
        </div>
      </div>
    </div>
    <mat-card>



      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>Contrat</ng-template>
          <mat-card class="contract-container">
            <!-- <div class="contract-content">
              <mat-card-header class="contract-header">
                <div class="header-content">
                  <img src="assets/admin/images/logo.jpg" alt="Logo" class="contract-logo" />
                  <div class="contract-title">
                    <h3>CONTRAT DE LOCATION</h3>
                    <mat-card-title>N° {{ infoContrat?.id }}</mat-card-title>
                  </div>
                </div>
              </mat-card-header>
        
              <mat-card-content>
                <p class="center-text"><strong>Date de signature :</strong> {{ infoContrat?.created_at | date:'fullDate' }}</p>
                <p class="center-text"><strong>Locataire :</strong> {{ infoContrat?.reservation?.nom }} {{ infoContrat?.reservation?.prenom }}</p>
                <p class="center-text"><strong>Propriété :</strong> {{ infoContrat?.reservation?.propriete.nom }}</p>
                <p class="center-text"><strong>Adresse :</strong> {{ infoContrat?.reservation?.propriete.adresse }}</p>
                <p class="center-text"><strong>Durée :</strong> Du {{ infoContrat?.paiements[0]?.date_debut | date:'fullDate' }} au {{ infoContrat?.paiements[infoContrat.paiements.length-1]?.date_fin | date:'fullDate' }}</p>
                <p class="center-text"><strong>Loyer total :</strong> {{ infoContrat?.total_paiement }} FCFA</p>
        
                <mat-divider></mat-divider>
        
                <h3>Clauses du contrat :</h3>
                <p><strong>Article 1 :</strong> Objet du contrat</p>
                <p>Le présent contrat a pour objet la location de la propriété située à {{ infoContrat.reservation?.propriete.adresse }}.</p>
        
                <p><strong>Article 2 :</strong> Durée du bail</p>
                <p>La location est accordée pour une durée déterminée de {{ getDureeContrat() }} jours, débutant le {{ infoContrat.paiements[0]?.date_debut | date:'fullDate' }} et prenant fin le {{ infoContrat.paiements[infoContrat.paiements.length-1]?.date_fin | date:'fullDate' }}.</p>
        
                <p><strong>Article 3 :</strong> Montant et modalités de paiement</p>
                <p>Le montant total à payer pour cette période de location est de {{ infoContrat?.total_paiement }} FCFA, payable selon les modalités convenues.</p>
        
                <mat-divider></mat-divider>
        
                <p><strong>Article 4 :</strong> Obligations du locataire</p>
                <p>Le locataire s'engage à utiliser les lieux de manière paisible et à respecter toutes les obligations liées au présent contrat.</p>
        
                <p><strong>Article 5 :</strong> Obligations du bailleur</p>
                <p>Le bailleur s’engage à fournir un logement en bon état et à réaliser les réparations nécessaires en cas de défaut majeur.</p>
        
                <mat-divider></mat-divider>
        
                <p class="center-text"><strong>Fait à :</strong> [Ville], le {{ infoContrat?.created_at | date:'fullDate' }}</p>
                <div class="signature-section">
                  <p><strong>Signature du bailleur :</strong> ___________________</p>
                  <p><strong>Signature du locataire :</strong> ___________________</p>
                </div>
              </mat-card-content>
            </div> -->
            <div class="contrat-container">
              <h1 class="h">RESIDENCE DOUMBOUYA</h1>
              <h2 class="cb">CONTRAT DE BAIL</h2>

              <hr class="separator" />

              <p><strong>ENTRE :</strong> Mme ROCK…………………………………………………………………...,</p>
              <p class="ml" style="margin-left: 70px;">Domiciliée à ………………………………………………………………,</p>
              <p class="ml" style="margin-left: 70px;">Dénommée <strong>le Gestionnaire</strong>.</p>
              <p class="text-right"><strong>D’UNE PART,</strong></p>

              <p ><strong>ET :</strong><span style="margin-left: 30px;">Mr/Mme/Mlle, {{ infoContrat?.reservation?.nom }} {{
                  infoContrat?.reservation?.prenom }}……………………………………………,</span></p>
              <p style="margin-left: 70px;">Détenteur de la pièce numéro : <span> {{ infoContrat?.reservation?.numero_piece }}...................................</span>,</p>
              <p style="margin-left: 70px;">Domicilié à <span>{{ infoContrat?.reservation?.adresse
                  }}...................................,</span></p>
              <p style="margin-left: 70px;">Dénommé <strong>le Locataire</strong>.</p>
              <p class="text-right"><strong>D’AUTRE PART,</strong></p>

              <h3>1. DESCRIPTION DES LOCAUX</h3>
              <p>Le Gestionnaire loue au Locataire l’appartement <span>{{ infoContrat?.reservation?.reference }}</span>
                de la résidence DOUMBOUYA située à Gbessia-Behanzin, Matoto.</p>
              <ul>
                <li>... Salon meublé</li>
                <li>... Toilettes</li>
                <li>... Chambres meublées</li>
                <li>... Cuisine équipée</li>
              </ul>

              <h3>2. ACCORD ET DURÉE DU CONTRAT</h3>
              <p><strong>La durée du contrat de bail :</strong> Le présent contrat prend effet le
                {{ infoContrat?.last_payment?.date_debut }}<span>..............................................................</span> et prend fin le
                {{ infoContrat?.last_payment?.date_fin }}<span>............................................</span>.
              </p>
              <p>Total en jours : {{ infoContrat?.duree_contrat_jours }}<span>..............</span></p>
              <p class="highlighted-text"><strong>Prorogation Du Contrat :</strong> Les parties peuvent proroger le
                contrat par accord mutuel écrit en fonction de la nouvelle durée, et le Locataire devra le notifier au
                Gestionnaire avant la date d’expiration du présent contrat de location.</p>

              <h3>3. LOYER ET CHARGES</h3>
              <p>Montant du loyer : <span>{{ infoContrat?.reservation?.prix_mensuel }}</span> GNF.</p>
              <p>La caution déposée est de <span>{{ infoContrat?.caution }}..................................................</span> GNF.</p>
              <p>Le loyer doit être payé avant l’entrée dans l’appartement.</p>

              <h3>4. USAGE DE LA PROPRIÉTÉ</h3>
              <p>Les locaux sont exclusivement destinés à l’habitation.</p>
              <p>Le locataire ne peut ni sous-louer ni modifier l’usage prévu.</p>

              <h3>5. IMPÔTS, ASSURANCES ET SERVICES</h3>
              <p>Les charges (eau, électricité, gardiennage…) sont à la charge du Gestionnaire.</p>
              <p>Le Gestionnaire assure la résidence.</p>

              <h3>6. RÉPARATIONS</h3>
              <p>Le locataire doit maintenir le bien en bon état.</p>
              <p>Les décorations nécessitent l’accord écrit du Gestionnaire.</p>

              <h3>7. RÈGLEMENT DES DIFFÉRENDS</h3>
              <p>Les litiges seront réglés à l’amiable ou devant le tribunal compétent.</p>

              <h3>Signatures</h3>


              <div class="d-flex justify-content-between signature">
                <div>
                  <p><strong>LE GESTIONNAIRE :</strong> Mme ROCK</p>
                  <p>Signature : _______________________</p>
                </div>
                <div>
                  <p><strong>LE LOCATAIRE :</strong> <span>{{ infoContrat?.reservation?.nom }} {{
                      infoContrat?.reservation?.prenom }}</span></p>
                  <p>Signature : _______________________</p>
                </div>
              </div>
              <p><strong>Pièces jointes : </strong>État des lieux Copie de la pièce d’identité du locataire</p>

            </div>


          </mat-card>
        </mat-tab>



        <mat-tab>
          <ng-template mat-tab-label>Paiement</ng-template>
          <!-- Liste de paiement -->
          <div class="row">
            <div class="col">
              <mat-card>
                <mat-card-header>
                  <div class="  " style="color: green;">Solde = {{infoContrat?.total_paiement}} </div>
                </mat-card-header>
                <mat-card-content>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Rechercher...</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                  </mat-form-field>
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;" id="maTable">
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef>#</th>
                      <td mat-cell *matCellDef="let i=index">{{ i+1 }}</td>
                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="montant">
                      <th mat-header-cell *matHeaderCellDef>Montant</th>
                      <td mat-cell *matCellDef="let element">{{ element.montant }} GNF</td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="mode_paiement">
                      <th mat-header-cell *matHeaderCellDef>Mode Paiement</th>
                      <td mat-cell *matCellDef="let element">
                        <span>{{ element.mode_paiement }}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date_debut">
                      <th mat-header-cell *matHeaderCellDef>Date Debut</th>
                      <td mat-cell *matCellDef="let element">
                        <span>{{ element.date_debut }}</span>
                      </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="date_fin">
                      <th mat-header-cell *matHeaderCellDef>Date Fin</th>
                      <td mat-cell *matCellDef="let element">{{ element.date_fin }}</td>
                    </ng-container>



                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button color="primary" routerLink="/operation/detail-paiement/{{element.id}}">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteFunction(element.id ,'paiements')">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <!-- Header and Row Declarations -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <!-- Paginator -->
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </div>
</div>