<div class="container-xxl p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
        <a routerLink="/home/accueil" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-primary text-uppercase">EXPRESS IMMO</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a routerLink="/home/accueil" class="nav-item nav-link">Acceuil</a>

                <a routerLink="/home/service" class="nav-item nav-link">Nos Services</a>
                <a routerLink="/home/propriete" class="nav-item nav-link active">Propriétés</a>
                <a routerLink="/home/contact" class="nav-item nav-link">Contact</a>
            </div>
            <a class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block" routerLink="/hoomeAdmin/login">Se
                Connecter<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>


    <div class="row g-4">
        <!-- INFORMATION EXPRESS IMMO -->
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="text-primary">ExpressImmo</h1>
                    <p style="font-size: larger;">
                        ExpressImmo est votre allié dans la réalisation de vos projets immobiliers. Explorez nos
                        maisons en location et bénéficiez de notre savoir-faire pour un achat en toute sérénité. De
                        la construction à la gestion, en incluant la vente de matériaux de construction. ExpressImmo
                        est le partenaire immobilier sur lequel vous pouvez compter.
                    </p>
                    <div>
                        <span class="mb-1 text-primary fs-5"><i class="bi bi-house"></i> : </span><span class="fs-6">
                            Conakry, Gbessia, Behanzin</span>
                    </div>
                    <br>
                    <div>
                        <span class="mb-1 text-primary fs-5"><i class="bi bi-envelope"></i> : </span><span class="fs-6">
                            {{email}}</span>
                    </div>
                    <br>
                    <div>
                        <span class="mb-1 text-primary fs-5"><i class="bi bi-telephone"></i> : </span><span
                            class="fs-6"> +224 626 37 01 38</span>
                    </div>
                    <hr>
                    <div class="fs-4">
                        <ul class="d-flex justify-content-center">
                            <li class="mx-2"><i class="bi bi-facebook text-primary"></i></li>
                            <li class="mx-2"><i class="bi bi-twitter text-aqua"></i></li>
                            <li class="mx-2"><i class="bi bi-instagram text-danger"></i></li>
                            <li class="mx-2"><i class="bi bi-linkedin text-primary"></i></li>
                            <li class="mx-2"><i class="bi bi-youtube text-danger"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- RESERVATION EXPRESS IMMO -->
            <div class="card">
                <div class="card-header bg-primary text-center">
                    <h3 class="text-white">Réserver {{this.infoPropriete.reference}}</h3>
                </div>
                <div class="card-body">
                    <div>
                        <!-- <label for="date_reservation">Date Reservation</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-check"></i></span>
                            <input type="date" class="form-control" aria-label="date_reservation" id="date_reservation">
                        </div> -->
                        <p><i class="fa fa-user text-primary me-2"></i>Proprietaire : <span class="text-success">{{this.infoPropriete.partenaire?.libelle}}</span></p>
                        <p><i class="fa fa-address-book text-primary me-2"></i>Adresse : <span class="text-success">{{this.infoPropriete.adresse}} </span></p>
                        <p><i class="fa fa-money-bill text-primary me-2"></i>Prix/Jour : <span class="text-success">{{this.infoPropriete?.prix_journalier}} FG </span></p>
                        <p><i class="fa fa-briefcase text-primary me-2"></i>Etat : <span class="text-success">{{infoPropriete.etat}} </span> </p>
                        <p><i class="bi bi-house-door-fill text-primary me-2"></i>Quartier : <span class="text-success">{{infoPropriete.quartier?.libelle}} </span></p>
                    </div>
                                    

                    
                    <hr>
                    <div class=" text-center">
                    <button type="button"
                            class="btn btn-danger text-center justify-content-center"routerLink="/home/inscriptionSite/{{ infoPropriete.id }}">Reserver</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- IMAGE CAROUSEL -->
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active position-relative" >
                                <img [src]=this.infoPropriete.poster class="d-block w-100"  alt="">
                            </div>
                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="card mt-4">
                <div class="card-header fs-3 text-center">Description</div>
                <div class="card-body fs-6">
                    <p>
                        {{this.infoPropriete.descriptions}}
                    </p>
                </div>
            </div>
        </div>
    </div>


 <!-- Newsletter Start -->
 <div class="container newsletter wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div class="col-lg-10 border rounded p-1">
            <div class="border rounded text-center p-1">
                <div class="bg-white rounded text-center p-5">
                    <h4 class="mb-4">Subscribe Nos <span class="text-primary text-uppercase">Newsletter</span></h4>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter yNos email">
                        <button type="button"
                            class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter Start -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->


<!-- Back to Top -->

<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<a class="btn btn-lg btn-primary btn-lg-square back-to-top" (click)="scrollToTop()"><i class="bi bi-arrow-up text-white"></i></a>
</div>