
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>CONTRAT</h4>
    </div>
    <form [formGroup]="Contrat">
      <div class="row">
        <div class="col-md-6 mb-3">

          <label for="type" >Choisir Le Locataire</label>
          <select class="form-select" id="reservation_id"  required formControlName="reservation_id" placeholder="reservation">
            <option selected disabled>-- Liste G&#233;n&#233;rale --</option>
            <option *ngFor="let reservation of Reservation " [value]="reservation.id"> {{reservation.nom  }} {{reservation.prenom}} </option>

          </select>

      </div>
      <div class="col-md-6 mb-3">

        <label for="type" >Choisir Le Proprietaire</label>
        <select class="form-select" id="partenaire_id"  required formControlName="partenaire_id" placeholder="reservation">
          <option selected disabled>-- Liste G&#233;n&#233;rale --</option>
          <option *ngFor="let partenaire of Partenaire " [value]="partenaire.id"> {{partenaire.nom  }} - {{partenaire.prenom}} </option>

        </select>

    </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">

          <label for="type" >Choisir Le Locataire</label>
          <select class="form-select" id="propriete_id"  required formControlName="propriete_id" placeholder="reservation">
            <option selected disabled>-- Liste G&#233;n&#233;rale --</option>
            <option *ngFor="let propriete of Propriete " [value]="propriete.id"> {{propriete.libelle}}n {{propriete.adresse}} </option>

          </select>

      </div>
      <div class="col-md-6 form-group mb-3">
        <label for="statut">Statut</label>
        <select class="form-control form-control-lg" id="statut" formControlName="statut">
          <option value="actif">Actif</option>
          <option value="terminer">Terminer</option>
          <option value="annulé"> Annuler </option>
        </select>
      </div>
      </div>
      <div class=" form-group mb-3">
        <label for="montant_total">Montant</label>
        <input type="number" class="form-control form-control-lg" id="montant_total" formControlName="montant_total" placeholder="Enter le montant" step="0.01" />
      </div>
      <div class="row">
        <div class=" col-md-6form-group mb-3">
          <label for="date_debut ">Date Debut</label>
          <input type="date" class="form-control form-control-lg" id="date_debut" formControlName="date_debut" placeholder="Enter la date de debut" />
        </div>

        <div class="form-group mb-3">
          <label for="date_fin ">Date Fin</label>
          <input type="date" class="form-control form-control-lg" id="date_fin" formControlName="date_fin" placeholder="Enter la date de Fin" />
        </div>
      </div>






      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-rounded btn-primary btn-lg mt-3" (click)="saveDataContrat()">Add </button>
        <button type="reset" class="btn btn-rounded btn-outline-secondary btn-lg mt-3">Reset</button>
      </div>
    </form>
  </div>
</div>

