<!-- <div class="content-body">
    <div class="container-fluid">
        <div class="card reservation-card" #ficheReservation>
            <button mat-raised-button color="accent" class="btn-custom hide-print" (click)="imprimer()">
                <mat-icon class="me-2 text-white">print</mat-icon>
                Imprimer
            </button>

            <div class="reservation-content" id="fiche-reservation">
                <h3 class="gold-text text-center">RESIDENCE LA MAISON BLANCHE</h3>
                <h4 class="gold-text text-center">AEROPORT QUARTIER BEHAZIN</h4>
                <h5 class="gold-text text-center">Tél : 626 88 36 21/ 627 01 83 73</h5>
                <h3 class="gold-text text-center">BON DE RÉSERVATION</h3>
                <div>
                    <h3 >Informations du client</h3>
                    <p><strong>Nom :</strong> {{ infoReservation.nom || 'Non renseigné' }} </p>
                    <p><strong>Prénom :</strong> {{ infoReservation.prenom || 'Non renseigné' }}</p>
                    <p><strong>Téléphone :</strong> {{ infoReservation.telephone || 'Non renseigné' }}</p>
                    <p><strong>Adresse :</strong> {{ infoReservation.adresse || 'Non renseignée' }}</p>
                    <p><strong>N° de pièce :</strong> {{ infoReservation.numero_piece }}</p>
                    <p><strong>Adulte :</strong> </p>
                    <p><strong>Enfant :</strong> </p>

                    <h3>Services demandés</h3>
                    <p><strong>Wi-Fi :</strong> {{ infoReservation.wifi === 'true' ? 'Oui' : 'Non' }}</p>
                    <p><strong>Restauration :</strong> {{ infoReservation.restauration ? 'Oui' : 'Non' }}</p>
                    <p><strong>Blanchisserie :</strong> {{ infoReservation.blanchisserie ? 'Oui' : 'Non' }}</p>
                    <p><strong>Conciergerie :</strong> {{ infoReservation.conciergerie ? 'Oui' : 'Non' }}</p>

                    <h3>Statut de la réservation</h3>
                    <p><strong>Statut :</strong> {{ infoReservation.statut || 'Non renseigné' }}</p>
                    <p><strong>Source :</strong> {{ infoReservation.source || 'Non renseigné' }}</p>

                    <h3>Détails de la propriété</h3>
                    <p><strong>Référence :</strong> {{ infoReservation.propriete?.reference || 'Non renseignée' }}</p>
                    <p><strong>Adresse :</strong> {{ infoReservation.propriete?.adresse || 'Non renseignée' }}</p>
                    <p><strong>État :</strong> {{ infoReservation.propriete?.etat || 'Non renseigné' }}</p>
                    <p><strong>Disponibilité :</strong> {{ infoReservation.propriete?.disponible === 0 ? 'Indisponible'
                        : 'Disponible' }}</p>
                    <p><strong>Prix journalier :</strong> {{ infoReservation.propriete?.prix_journalier ?
                        infoReservation.propriete.prix_journalier + ' GNF' : 'Non renseigné' }}</p>
                    <p><strong>Prix mensuel :</strong> {{ infoReservation.propriete?.prix_mensuel &&
                        infoReservation.propriete.prix_mensuel !== '0' ? infoReservation.propriete.prix_mensuel + ' GNF'
                        : 'Non renseigné' }}</p>
                    <p><strong>Transport depuis l’aéroport :</strong> </p>
                </div>
                <p class="text-center text-start"><em>Numéro compte ECOBANK 0080224617553301 Ets Abdoulaye Doumbouya &
                        Frères !</em></p>

            </div>
        </div>
    </div>
</div> -->
<div class="content-body">

    <div class="container mt-2 reservation-card" id="fiche-reservation">
        <!-- En-tête -->
        <div class="h">
            <br>        <button mat-raised-button color="accent" class="t align-items-center btn-custom hide-print text-center" (click)="imprimer()">
                <mat-icon class="me-2 text-white">print</mat-icon>
                Imprimer
            </button><br><br>
        </div>

        <div class="title">
            <img class="w-25 logo-img " src="assets/admin/images/logo.jpg" alt="Logo">
            FICHE RÉSERVATION
        </div>


        <!-- Infos Hôtel -->
        <div class="section">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>REFERENCE</td>
                        <td>{{ infoReservation.propriete?.reference || 'Non renseignée' }}</td>
                    </tr>
                    <tr>
                        <td>PRIX JOURNALIER</td>
                        <td>{{ infoReservation.propriete?.prix_journalier ? infoReservation.propriete.prix_journalier +
                            ' GNF' : 'Non renseigné' }}</td>
                    </tr>
                    <tr>
                        <td>TÉLÉPHONE</td>
                        <td>+224 621 94 13 93</td>
                    </tr>
                    <tr>
                        <td>E-MAIL</td>
                        <td> {{email}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Infos Client -->
        <div class="section">
            <div class="sec client">CLIENT</div>
            <table class="table table-bordered">
                <!-- <thead class="sec client">chzick</thead> -->

                <tbody>

                    <tr>
                        <td>NOM ET PRÉNOM</td>
                        <td>{{ infoReservation.prenom || 'Non renseigné' }} {{ infoReservation.nom || 'Non renseigné' }}
                        </td>
                    </tr>
                    <tr>
                        <td>ADRESSE</td>
                        <td>{{ infoReservation.adresse || 'Non renseigné' }}</td>
                    </tr>
                    <tr>
                        <td>TÉLÉPHONE</td>
                        <td>{{ infoReservation.telephone || 'Non renseigné' }}</td>
                    </tr>
                    <tr>
                        <td>E-MAIL</td>
                        <td>{{ infoReservation.email || 'Non renseigné' }}</td>
                    </tr>
                    <tr>
                        <td>TYPE DE PIÈCE D’IDENTITÉ</td>
                        <td>Passport / Carte d'identité</td>
                    </tr>
                    <tr>
                        <td>N° DE PIÈCE D’IDENTITÉ</td>
                        <td>{{ infoReservation.numero_piece || 'Non renseigné' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Détails Réservation -->
        <div class="section">
            <div class="sec reservation">DÉTAILS DE LA RÉSERVATION</div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>DATE ARRIVER</td>
                        <td>{{ infoReservation.date_souhaite}}</td>
                    </tr>
                    <tr>
                        <td>SOURCE</td>
                        <td>{{ infoReservation.source}}</td>
                    </tr>
                    <tr>
                        <td>RESTAURATION</td>
                        <td>{{ infoReservation.restauration ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <td>WIFI</td>
                        <td>{{ infoReservation.wifi ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <td>CONCIERGERIE</td>
                        <td>{{ infoReservation.conciergerie ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <td>BLANCHISSERIE</td>
                        <td>{{ infoReservation.Blanchisserie ? 'Oui' : 'Non' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="t text-center text-start align-items-center"><em>Numéro compte ECOBANK 0080224617553301 Ets Abdoulaye
                Doumbouya &
                Frères !</em></p>

    </div>

</div>