<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>RESERVATION</h4>
    </div>
    <form [formGroup]="Reservation">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Entrer le nom" formControlName="nom" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Entrer le prénom" formControlName="prenom" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Téléphone</mat-label>
        <input matInput placeholder="Entrer le numéro de téléphone" formControlName="telephone" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="Entrer l'adresse" formControlName="adresse" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Statut</mat-label>
        <mat-select formControlName="statut">
          <mat-option value="en attente">En attente</mat-option>
          <mat-option value="annulée">Annulée</mat-option>
          <mat-option value="confirmée">Confirmée</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Propriété</mat-label>
        <mat-select formControlName="propriete_id" required>
          <mat-option value="" disabled>-- Liste Générale --</mat-option>
          <mat-option *ngFor="let propriete of Propriete" [value]="propriete.id">
            {{ propriete.reference }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button color="primary" class="mt-3" (click)="saveDataReservation()">Ajouter</button>
        <button mat-stroked-button color="secondary" class="mt-3" type="reset">Annuler</button>
      </div>
    </form>
  </div>
</div>
