
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>RESERVATION</h4>
    </div>
    <form>
      <div class="form-group mb-3">
        <label for="itemName">Name & Prenom</label>
        <input type="text" class="form-control form-control-lg" id="itemName" placeholder="Entrer le nom complet" />
      </div>

      <div class="form-group mb-3">
        <label for="itemStatus">Status</label>
        <select class="form-control form-control-lg" id="itemStatus">
          <option value="sale">Sale</option>
          <option value="tax">Tax</option>
          <option value="extended">Extended</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="itemDate">Date Reservation</label>
        <input type="date" class="form-control form-control-lg" id="itemDate" />
      </div>

      <div class="form-group mb-3">
        <label for="itemPrice">Telephone</label>
        <input type="text" class="form-control form-control-lg" id="itemPrice" placeholder="Entrer le numero telephone" step="0.01" />
      </div>

      <div class="form-group mb-3">
        <label for="itemPropriete">Propriete</label>
        <input type="text" class="form-control form-control-lg" id="itemPrice" placeholder="Entrer le proprietaire" step="0.01" />
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-rounded btn-primary btn-lg mt-3">Add Item</button>
        <button type="reset" class="btn btn-rounded btn-outline-secondary btn-lg mt-3">Reset</button>
      </div>
    </form>
  </div>
</div>

