<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>LOCATAIRE</h4>
    </div>
    <form [formGroup]="Locataire">
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="nom">NOM</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="nom"
            formControlName="nom"
            placeholder="Entrez le nom"
          />
        </div>
        <div class="col-md-6">
          <label for="prenom">PRENOM</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="prenom"
            formControlName="prenom"
            placeholder="Entrez le prénom"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="telephone">TELEPHONE</label>
          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="telephone"
            id="telephone"
            placeholder="Entrez le numéro de téléphone"
          />
        </div>
        <div class="col-md-6">
          <label for="email">EMAIL</label>
          <input
            type="email"
            class="form-control form-control-lg"
            formControlName="email"
            id="email"
            placeholder="Entrez l'email"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="adresse">ADRESSE</label>
          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="adresse"
            id="adresse"
            placeholder="Entrez l'adresse"
          />
        </div>
        <div class="col-md-6">
          <label for="date_naissance">DATE DE NAISSANCE</label>
          <input
            type="date"
            class="form-control form-control-lg"
            formControlName="date_naissance"
            id="date_naissance"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="lieu_naissance">LIEU DE NAISSANCE</label>
          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="lieu_naissance"
            id="lieu_naissance"
            placeholder="Entrez le lieu de naissance"
          />
        </div>
        <div class="col-md-6">
          <label for="nationalite">NATIONALITÉ</label>
          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="nationalite"
            id="nationalite"
            placeholder="Entrez la nationalité"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="typePiece">TYPE DE PIÈCE</label>
          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="typePiece"
            id="typePiece"
            placeholder="Entrez le type de pièce"
          />
        </div>
        <div class="col-md-6">
          <label for="numeroPiece">NUMÉRO DE PIÈCE</label>
          <input
            type="text"
            class="form-control form-control-lg"
            formControlName="numeroPiece"
            id="numeroPiece"
            placeholder="Entrez le numéro de pièce"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="propriete_id">CHOISIR LA PROPRIÉTÉ</label>
          <select
            class="form-select form-select-lg"
            id="propriete_id"
            formControlName="propriete_id"
            aria-label="Choisissez une propriété"
            aria-required="true"
          >
            <option value="" disabled selected>-- Sélectionnez une propriété --</option>
            <option
              *ngFor="let propriete of Propriete"
              [value]="propriete.id"
            >
              {{ propriete.libelle }} - {{ propriete.adresse }}
            </option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button
          type="submit"
          class="btn btn-rounded btn-primary btn-lg mt-3"
          (click)="saveDataLocataire()"
        >
          Ajouter
        </button>
        <button
          type="button"
          class="btn btn-rounded btn-outline-secondary btn-lg mt-3"
         
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
