<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>LOCATAIRE</h4>
    </div>
    <form [formGroup]="Locataire">
      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>NOM</mat-label>
            <input matInput placeholder="Entrez le nom" formControlName="nom" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>PRENOM</mat-label>
            <input matInput placeholder="Entrez le prénom" formControlName="prenom" />
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>TELEPHONE</mat-label>
            <input matInput type="text" placeholder="Entrez le numéro de téléphone" formControlName="telephone" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>EMAIL</mat-label>
            <input matInput type="email" placeholder="Entrez l'email" formControlName="email" />
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>ADRESSE</mat-label>
            <input matInput type="text" placeholder="Entrez l'adresse" formControlName="adresse" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>DATE DE NAISSANCE</mat-label>
            <input matInput type="date" formControlName="date_naissance" />
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>LIEU DE NAISSANCE</mat-label>
            <input matInput type="text" placeholder="Entrez le lieu de naissance" formControlName="lieu_naissance" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>NATIONALITÉ</mat-label>
            <input matInput type="text" placeholder="Entrez la nationalité" formControlName="nationalite" />
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>TYPE DE PIÈCE</mat-label>
            <input matInput type="text" placeholder="Entrez le type de pièce" formControlName="typePiece" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>NUMÉRO DE PIÈCE</mat-label>
            <input matInput type="text" placeholder="Entrez le numéro de pièce" formControlName="numeroPiece" />
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>CHOISIR LA PROPRIÉTÉ</mat-label>
            <mat-select formControlName="propriete_id">
              <mat-option value="" disabled selected>-- Sélectionnez une propriété --</mat-option>
              <mat-option *ngFor="let propriete of Propriete" [value]="propriete.id">
                {{ propriete.libelle }} - {{ propriete.adresse }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button mat-raised-button color="primary" class="mt-3" (click)="saveDataLocataire()">Ajouter</button>
        <button mat-stroked-button color="secondary" class="mt-3" type="reset">Annuler</button>
      </div>
    </form>
  </div>
</div>
