<!-- <div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>Ajouter Un Utilisateur</h4>
    </div>
    <form [formGroup]="Utilisateur">
      <div class="form-group mb-3">
        <label for="nom">Nom</label>
        <input
          type="text"
          class="form-control form-control-lg"
          id="nom"
          formControlName="nom"
          placeholder="Entrez le nom"
        />
      </div>

      <div class="form-group mb-3">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          class="form-control form-control-lg"
          id="prenom"
          formControlName="prenom"
          placeholder="Entrez le prénom"
        />
      </div>

      <div class="form-group mb-3">
        <label for="role">Rôle</label>
        <select
          class="form-control form-control-lg"
          id="role"
          formControlName="role"
        >
          <option value="admin">Admin</option>
          <option value="employer">Employer</option>
          <option value="partenaire">Partenaire</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control form-control-lg"
          id="email"
          formControlName="email"
          placeholder="Entrez l'email"
        />
      </div>

      <div class="form-group mb-3">
        <label for="mot_de_passe">Mot de Passe</label>
        <input
          type="password"
          class="form-control form-control-lg"
          id="mot_de_passe"
          formControlName="mot_de_passe"
          placeholder="Entrez le mot de passe"
        />
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-rounded btn-primary btn-lg mt-3" (click)="saveDataUtilisateur()">
          Ajouter
        </button>
        <button
          type="reset"
          class="btn btn-rounded btn-outline-secondary btn-lg mt-3"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</div> -->
<h2 class="text-center">Registration</h2>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" name="name" formControlName="nom" autocomplete="off"
                        class="form-control input-sm" placeholder="nom">
                </div>
                <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input type="text" name="prenom" formControlName="prenom" autocomplete="off"
                        class="form-control input-sm" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" formControlName="email" autocomplete="off"
                        class="form-control input-sm" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="mot_de_passe">Mot de passe</label>
                    <input type="password" name="mot_de_passe" formControlName="mot_de_passe" autocomplete="off"
                        class="form-control input-sm" placeholder="mot_de_passe">
                </div>
                <button type="submit"(click)="postdata(angForm)" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>