<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>Ajouter Un Partenaire</h4>
    </div>
    <form [formGroup]="Partenaire">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Libellé</mat-label>
        <input matInput placeholder="Entrez le libellé" formControlName="libelle" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Entrez l'email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Téléphone</mat-label>
        <input matInput type="text" placeholder="Entrez le numéro" formControlName="telephone" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" placeholder="Entrez l'adresse" formControlName="adresse" />
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button color="primary" class="mt-3" (click)="saveDataPartenaire()">Ajouter</button>
        <button mat-stroked-button color="secondary" class="mt-3" type="reset">Annuler</button>
      </div>
    </form>
  </div>
</div>
