
<div class="card ">
  <div class="card-body">
    <div class="card-title">
      <h4>Ajouter Un Partenaire</h4>
    </div>
    <form [formGroup]="Partenaire">
      <div class=" mb-3">
        <label for="libelle">Libelle</label>
        <input type="text" class="form-control form-control-lg" formControlName="libelle" id="libelle" placeholder="Enter le libelle" />
      </div>

      <div class=" mb-3">
        <label for="email">email</label>
        <input type="email" class="form-control form-control-lg" formControlName="email" id="email" placeholder="Enter l'email " />
      </div>
      <div class=" mb-3">
        <label for="adresse">telephone</label>
        <input type="text" class="form-control form-control-lg" formControlName="telephone" id="telephone" placeholder="Enter le Numero" />
      </div>
      <div class=" mb-3">
        <label for="adresse">Adresse</label>
        <input type="text" class="form-control form-control-lg" formControlName="adresse" id="adresse" placeholder="Enter l'adresse" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-rounded btn-primary btn-lg mt-3" (click)="saveDataPartenaire()">Ajouter</button>
        <button type="reset" class="btn btn-rounded btn-outline-secondary btn-lg mt-3">Annuler</button>
      </div>
    </form>
  </div>
</div>

