<div class="content-body">
  <div class="container-fluid">
    <div class="card col rounded p-3 mt-3">
      <div class="card-body d-flex align-items-center justify-content-between">
        <h4 class="card-title mb-0">Details Propriétés</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <div class="media align-items-center mb-4">
              <img class="mr-3" src="assets/admin/images/avatar/11.png" width="80" height="80" alt="" />
              <div class="media-body">
                <h5 class="mb-0"><strong><span>{{ infoPropriete.reference }}</span></strong></h5>
                <p class="text-muted mb-0"><strong>Adresse : <span>{{ infoPropriete.adresse }}</span></strong></p>
              </div>
            </div>

            <div class="row mb-5">
              <div class="col">
                <ul class="list-unstyled mt-2 custom-list">
                  <li><strong><i class="icon-menu"></i> <span>{{ infoPropriete.partenaire?.libelle }}</span></strong>
                  </li>
                  <li><strong><i class="fas fa-check-circle" style="color: green;"></i> <span>{{ infoPropriete.etat
                        }}</span></strong></li>
                  <li><strong><i class="fas fa-credit-card"></i> <span>{{ infoPropriete.prix_journalier
                        }}</span></strong></li>
                  <li><strong><i class="fas fa-hand-holding-usd"></i> <span>{{ infoPropriete.prix_mensuel
                        }}</span></strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="Propriete">
              <div class="col mb-3">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Reference</mat-label>
                  <input matInput formControlName="reference" [value]="infoPropriete.reference" />
                </mat-form-field>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Choisir Le Quartier</mat-label>
                    <mat-select formControlName="quartier_id">
                      <mat-option *ngFor="let quartier of Quartier" [value]="quartier.id">
                        {{ quartier.libelle }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Choisir Le Partenaire</mat-label>
                    <mat-select formControlName="partenaire_id">
                      <mat-option *ngFor="let partenaire of Partenaire" [value]="partenaire.id">
                        {{ partenaire.libelle }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Adresse</mat-label>
                    <input matInput formControlName="adresse" [value]="infoPropriete.adresse" />
                  </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Etat</mat-label>
                    <input matInput formControlName="etat" [value]="infoPropriete.etat" />
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Prix Journalier</mat-label>
                    <input matInput formControlName="prix_journalier" [value]="infoPropriete.prix_journalier" />
                  </mat-form-field>
                </div>

                <div class="col-md-6 mb-3">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Prix Mensuel</mat-label>
                    <input matInput formControlName="prix_mensuel" [value]="infoPropriete.prix_mensuel" />
                  </mat-form-field>
                </div>
              </div>

              <div class="mb-3">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="descriptions" [value]="infoPropriete.description"></textarea>
                </mat-form-field>
              </div>
            </form>
          </div>


          <div class="mb-4">
            <label for="image" class="form-label">Image principale</label>
            <input type="file" id="image" (change)="onFileChange($event)" formControlName="poster"
              class="form-control" />
            <div class="image-preview-container text-end mt-3" *ngIf="imagePreview">
              <img [src]="imagePreview" class="image-preview img-fluid me-2" width="100" />
            </div>
          </div>

          <!-- Galerie d'images -->
          <div class="mb-4">
            <label for="gallery" class="form-label">Galerie d'images</label>
            <input type="file" id="gallery" (change)="onFilesChange($event)" multiple class="form-control" />
            <div class="image-preview-container text-end mt-3" *ngIf="imagePreviews.length > 0">
              <img [src]="imagePreviews" class="image-preview img-fluid me-2" width="100" />
                        
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center">
              <button mat-raised-button color="primary" class="btn btn-rounded btn-lg mt-3"
                (click)="confirmEditing()">
                Modifier
              </button>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4>Détails Complémentaires</h4>

            <div *ngIf="infoPropriete && infoPropriete.gallery">
              <h4>Galerie</h4>
              <div class="row mt-3">
                <div class="col-md-3" *ngFor="let imageUrl of getGalleryImages()">
                  <div class="card mb-3">
                    <img [src]="imageUrl" class="card-img-top img-fluid rounded" alt="Image de la galerie"
                      style="height: 200px; object-fit: cover; width: 100%;" />
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4>Description</h4>
            <div class="row mt-3">
              <div class="card card-profile text-center">
                <span class="mb-1 text-primary"><i class="icon-menu"></i></span>
                <h5 class="mb-0">Description</h5>
                <p class="text-muted px-4">{{ infoPropriete.descriptions }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>