.custom-list {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.custom-list li {
  margin-bottom: 10px;
}

.custom-list strong {
  font-size: 1rem;
  color: #0056b3;
}

.custom-list span {
  font-size: 1rem;
  color: #555;
}
.custom-list li i {
  margin-right: 8px;
}
