

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }
}
.card-body {
  padding: 1rem; /* Réduit l'espace interne */
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (max-width: 768px) {
  .col-md-4, .col-md-8 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}