<div class="content-body">
  <div class="container-fluid">
    <div class="container">
      <div class="card shadow-sm rounded p-4 mt-3 border-0">
        <div class="card-body d-flex align-items-center justify-content-between">
          <h4 class="card-title fw-bold text-dark mb-0">
            <mat-icon class="me-2 text-primary">home</mat-icon> Propriétés
          </h4>
          <button
            mat-raised-button
            color="accent"
            class="d-flex align-items-center"
            (click)="openDialog2()"
          >
            <mat-icon class="me-2">add</mat-icon>
            Nouveau Type de Propriété
          </button>
        </div>
      </div>
  
  
      <div class="row">
        <div class="col mb-4 justify-content-center  ">
          <div class="card shadow-sm rounded">
            <div class="card-body">
              <h4 class="fw-bold text-dark text-center mb-4">Ajouter une Propriété</h4>
              <form [formGroup]="Propriete" class="w-100">
                <!-- Sélection du quartier et type de propriété -->
                <div class="row mb-4">
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Quartier</mat-label>
                      <mat-select formControlName="quartier_id">
                        <mat-option *ngFor="let quartier of Quartier" [value]="quartier.id">
                          {{ quartier.libelle }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Type de Propriété</mat-label>
                      <mat-select formControlName="typepropriete_id">
                        <mat-option *ngFor="let type of typePropriete" [value]="type.id">
                          {{ type.libelle }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
  
                <!-- Référence et Partenaire -->
                <div class="row mb-4">
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Référence</mat-label>
                      <input matInput type="text" formControlName="reference" placeholder="Entrez la référence" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Partenaire</mat-label>
                      <mat-select formControlName="partenaire_id">
                        <mat-option *ngFor="let partenaire of Partenaire" [value]="partenaire.id">
                          {{ partenaire.libelle }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
  
                <!-- Adresse et État -->
                <div class="row mb-4">
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Adresse</mat-label>
                      <input matInput type="text" formControlName="adresse" placeholder="Entrez l'adresse" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>État</mat-label>
                      <mat-select formControlName="etat">
                        <mat-option value="location">En Location</mat-option>
                        <mat-option value="vente">En Vente</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
  
                <!-- Prix -->
                <div class="row mb-4">
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Prix Journalier</mat-label>
                      <input matInput type="number" formControlName="prix_journalier" placeholder="Entrez le prix journalier" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Prix Mensuel</mat-label>
                      <input matInput type="number" formControlName="prix_mensuel" placeholder="Entrez le prix mensuel" />
                    </mat-form-field>
                  </div>
                </div>
  
                <!-- Image -->
                <div class="mb-4">
                  <label for="image" class="form-label">Image</label>
                  <input type="file" id="image" (change)="onFileChange($event)" formControlName="poster" class="form-control" />
                  <div class="image-preview-container text-end mt-3" *ngIf="imagePreview">
                    <img [src]="imagePreview" class="image-preview img-fluid" />
                  </div>
                </div>
              </form>
  
  
            </div>
            <div class="card-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-lg" (click)="saveDataPropriete()">Ajouter</button>
              <button type="reset" class="btn btn-outline-secondary btn-lg ms-3" routerLink="/propriete/list-propriete">Annuler</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
