<div class="card shadow-sm rounded">
  <div class="card-body">
    <div class="card-title text-center mb-4">
      <h4 class="fw-bold text-dark">Ajouter une Propriété</h4>
    </div>
    <form [formGroup]="Propriete">
      <!-- Section: Sélection du quartier et type de propriété -->
      <div class="row mb-4">
        <div class="col-md-6 mb-3">
          <label for="quartier_id" class="form-label">Choisir Le Quartier</label>
          <ng-select
            id="quartier_id"
            formControlName="quartier_id"
            [items]="Quartier"
            bindLabel="libelle"
            bindValue="id"
            aria-required="true"
            class="form-control"
            placeholder="Sélectionnez un quartier"
          >
          </ng-select>
        </div>

        <div class="col-md-6 mb-3">
          <label for="typepropriete_id" class="form-label">Choisir Le Type de Propriété</label>
          <ng-select
            id="typepropriete_id"
            formControlName="typepropriete_id"
            [items]="typePropriete"
            bindLabel="libelle"
            bindValue="id"
            aria-required="true"
            class="form-control"
            placeholder="Sélectionnez un type de propriété"
          >
          </ng-select>
        </div>
      </div>

      <!-- Section: Référence et Partenaire -->
      <div class="row mb-4">
        <div class="col-md-6 mb-3">
          <label for="reference" class="form-label">Référence</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="reference"
            formControlName="reference"
            placeholder="Entrez la référence"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="partenaire_id" class="form-label">Choisir Le Partenaire</label>
          <ng-select
            id="partenaire_id"
            formControlName="partenaire_id"
            [items]="Partenaire"
            bindLabel="libelle"
            bindValue="id"
            aria-required="true"
            class="form-control"
            placeholder="Sélectionnez un partenaire"
          >
          </ng-select>
        </div>
      </div>

      <!-- Section: Adresse et État -->
      <div class="row mb-4">
        <div class="col-md-6 mb-3">
          <label for="adresse" class="form-label">Adresse</label>
          <input
            type="text"
            class="form-control form-control-lg"
            id="adresse"
            formControlName="adresse"
            placeholder="Entrez l'adresse"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="etat" class="form-label">État</label>
          <ng-select
            id="etat"
            formControlName="etat"
            [items]="['location', 'vente']"
            bindLabel="libelle"
            bindValue="value"
            class="form-control"
            placeholder="Sélectionnez l'état"
          >
            <ng-option *ngFor="let etat of ['location', 'vente']" [value]="etat">
              {{ etat }}
            </ng-option>
          </ng-select>
        </div>
      </div>

      <!-- Section: Prix -->
      <div class="row mb-4">
        <div class="col-md-6 mb-3">
          <label for="prix_journalier" class="form-label">Prix Journalier</label>
          <input
            type="number"
            class="form-control form-control-lg"
            id="prix_journalier"
            formControlName="prix_journalier"
            placeholder="Entrez le prix journalier"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="prix_mensuel" class="form-label">Prix Mensuel</label>
          <input
            type="number"
            class="form-control form-control-lg"
            id="prix_mensuel"
            formControlName="prix_mensuel"
            placeholder="Entrez le prix mensuel"
          />
        </div>
      </div>

      <!-- Section: Image -->
      <div class="mb-4">
        <label for="" class="form-label">Image</label>
        <input type="file" (change)="onFileChange($event)" formControlName="poster" class="form-control" />
        <div class="image-preview-container text-end mt-3" *ngIf="imagePreview">
          <img [src]="imagePreview" class="image-preview img-fluid" />
        </div>
      </div>

      <!-- Section: Description -->
      <div class="mb-4">
        <label for="descriptions" class="form-label">Description</label>
        <textarea
          class="form-control form-control-lg"
          id="descriptions"
          formControlName="descriptions"
          placeholder="Entrez une description"
        ></textarea>
      </div>
    </form>
  </div>

  <!-- Section: Boutons d'action -->
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <button
        type="submit"
        class="btn btn-rounded btn-primary btn-lg mt-3"
        (click)="saveDataPropriete()"
      >
        Ajouter
      </button>
      <button
        type="reset"
        class="btn btn-rounded btn-outline-secondary btn-lg mt-3"
      >
        Annuler
      </button>
    </div>
  </div>
</div>
