
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$expressimmo-primary: mat.define-palette(mat.$indigo-palette);
$expressimmo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$expressimmo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$expressimmo-theme: mat.define-light-theme((
  color: (
    primary: $expressimmo-primary,
    accent: $expressimmo-accent,
    warn: $expressimmo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($expressimmo-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// Global table styles
#maTable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem; /* Taille de police légèrement augmentée pour plus de lisibilité */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre douce et subtile */

  /* Header de la table */
  th {
    background-color: rgb(32, 159, 195);
    color: #fff;
    text-align: left;
    padding: 14px 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px; /* Espacement des lettres pour plus de lisibilité */
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px; /* Bords arrondis pour un effet moderne */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile pour un effet de profondeur */
  }

  /* Lignes de la table */ 
  tr {
    &:nth-child(even) {
      background-color: #f9f9f9; /* Couleur de fond plus douce pour les lignes paires */
    }
    &:nth-child(odd) {
      background-color: #ffffff;
    }
    transition: background-color 0.3s ease-in-out; /* Transition plus fluide pour l'effet de survol */
  }

  /* Cellules de la table */
  td {
    padding: 14px 18px;
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif; /* Police moderne et élégante */
    font-size: 1rem;
    color: #333; /* Texte légèrement plus foncé pour un meilleur contraste */
  }

  /* Mise en surbrillance de la ligne sélectionnée */
  tr:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Bleu clair pour le survol */
    transition: background-color 0.3s ease-in-out;
  }

  /* Lignes bordées et arrondies aux angles */
  tr:first-child th {
    border-top: 2px solid rgb(32, 159, 195);
  }
}



// Paginator styles
mat-paginator {
  margin-top: 16px;

  .mat-paginator-container {
    justify-content: space-between;

    .mat-paginator-range-label {
      font-weight: 500;
    }

    .mat-paginator-icon {
      color: var(--bs-info);
    }
  }

  .mat-paginator-page-size-select {
    .mat-select-value-text {
      color: var(--bs-info);
    }
  }

  .mat-paginator-navigation-button {
    &.mat-paginator-navigation-previous, &.mat-paginator-navigation-next {
      color: var(--bs-info);
    }
  }
}

// Responsive design for table
@media (max-width: 768px) {
  table {
    font-size: 0.75rem;

    th, td {
      padding: 8px;
    }
  }
}
