
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>Add New Item</h4>
    </div>
    <form [formGroup]="Operation"  >


      <div class="form-group mb-3">
        <label for="type_transaction">Type Transaction</label>
        <select class="form-control form-control-lg" id="type_transaction" formControlName="type_transaction">
          <option value="encaissement">Encaissement</option>
          <option value="decaissement">Decaissement</option>
        </select>
      </div>



      <div class="form-group mb-3">
        <label for="montant">Montant</label>
        <input type="number" class="form-control form-control-lg" id="montant" placeholder="Enter  le montant" formControlName="montant" step="0.01" />
      </div>
      <div class="form-group mb-3">
        <label for="descriptions">Motif</label>
        <textarea

          class="form-control form-control-lg"
          formControlName="descriptions"
          id="descriptions"
          placeholder="Enter la description"
        > </textarea>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-rounded btn-primary btn-lg mt-3" (click)="saveDataOperation()">Ajouter</button>
        <button type="reset" class="btn btn-rounded btn-outline-secondary btn-lg mt-3">Annuler</button>
      </div>
    </form>
  </div>
</div>

