<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4>Faire Une Nouvelle Operation</h4>
    </div>
    <form [formGroup]="Operation">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Type Transaction</mat-label>
        <mat-select formControlName="type_transaction">
          <mat-option value="encaissement">Encaissement</mat-option>
          <mat-option value="decaissement">Decaissement</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Montant</mat-label>
        <input matInput type="number" placeholder="Enter le montant" formControlName="montant" step="0.01" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Motif</mat-label>
        <textarea matInput placeholder="Enter la description" formControlName="motif"></textarea>
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button color="primary" class="btn btn-rounded btn-lg mt-3" (click)="saveDataOperation()">Ajouter</button>
        <button mat-stroked-button color="secondary" class="btn btn-rounded btn-lg mt-3" type="reset">Annuler</button>
      </div>
    </form>
  </div>
</div>
